<h1>Angular CLI</h1>
<h3>My app</h3>

<input type="text" [(ngModel)]="asd"/>

<ul>
  <li *ngFor="let item of myItem | search:'name':asd">
    <h2>{{item.name | uppercase}}</h2>
    <p>{{item.description}}</p>
    <img src="{{item.image}}"/>
    <p>{{item.price | currency : 'EUR': true}}</p>
</ul>
<h1>There are {{totalItems()}} items in stock</h1>
<ul>
    <li *ngFor="let item of myItem | search:'name':item" [class]="(item.isSelected) ? 'blue' : ''">
      <h2>{{item.name}}</h2>
      <input type="text" [(ngModel)]="item.name" (blur)="UpdateItem(item)">
      <p>{{item.description}}</p>
      <img [src]="item.image"/>
      <p *ngIf="item.stock > 0">{{item.stock}} in Stock</p>
      <p *ngIf="item.stock === 0">Out of Stock</p>
      <button class="btn-amount" [disabled]='item.quantity===0' (click)="removeQuantity(item)">-</button>
      <input type="number" maxlength="2" disabled placeholder="0" class="amount" [value]="item.quantity" [(ngModel)]="item.quantity"/>
      <button class="btn-amount" [disabled]='item.stock===0' (click)="addQuantity(item)">+</button>
      <input type="text" (keydown)="showKey($event)">
      <h2 (mouseover)="getCoord($event)">Hover me</h2>
</ul>
