h1 {
    background-color: red;
}
div{
    background-color: rgba(128, 128, 128, 0.45);
}

ul{
    list-style-type: none;
}

li {
    border: 2px solid black;
    list-style-position:inside;
    margin: 2px;
}

.blue {
    background-color: blue;
}

img {
    width: 200px;
    height: 200px;
    padding: 10px;

}

button:disabled {
    visibility: hidden;
}
/*elimina las flechas del campo de los items, las que salen a la derecha*/
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none; 
}
