h1 {
    background-color: red;
}
div{
    background-color: rgba(128, 128, 128, 0.45);
}
li {
    border: 2px solid black;
    list-style-position:inside;
    margin: 2px;
}

.blue {
    background-color: blue;
}

img {
    width: 1200px;
    height: 1000px;
    padding: 10px;
    margin: 10px;
}